.contenedor {
  height: 80vh;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  padding-inline: 2rem;
}

.contCards {
  margin-inline: 2rem;
  background-color: hsla(210, 65%, 65%, 0.807);
  padding: 3rem;
  border-radius: 20px;
  display: inline-flex;
  gap: 2.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 420px;
}
