.contDetail {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-inline: 2rem;
  max-width: 1000px;
  margin-inline: auto;
}

.cliente {
  color: #fff;
  font-size: 3em;
  font-weight: 600;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.test {
  font-size: 1rem;
  padding: 0.5rem;
  padding-inline: 1rem;
  font-weight: 500;
  background-color: hsl(210, 65%, 65%);
  border-radius: 20px;
  width: fit-content;
}

.contVideo {
  display: flex;
  justify-content: center;
}

.video {
  width: 100%;
  border-radius: 10px;
}

.titleTranscripcion {
  font-size: 2em;
  font-weight: 600;
  color: #fff;
}

.transcripcion {
  overflow: auto;
  max-height: 15rem;
  max-width: 750px;
  padding-inline: 3rem;
  padding-block: 1rem;
  color: #fff;
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 400;
  line-height: 1.7rem;
  background-color: hsla(210, 65%, 65%, 0.137);
  border-radius: 20px;
  margin-inline: auto;
}

.transcripcion::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: hsl(210, 65%, 65%);
}

.transcripcion::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.721);
}

.transcripcion::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.932);
}

.contTareas {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding-block: 2rem;
  background-color: hsla(210, 65%, 65%, 0.807);
  border-radius: 20px;
  margin-bottom: 3rem;
  width: fit-content;
}

.tareas {
  margin-inline: 2rem;
  min-width: 400px;
  color: #515151;
  font-size: 1.1em;
  font-weight: 600;
  background-color: #fff;
  border-radius: 30px;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.tiempo {
  font-size: 0.9em;
  font-weight: 500;
  margin-top: 1rem;
  font-weight: 550;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: #4d68cc;
}

.tiempoLogo {
  height: 25px;
}

.hr {
  width: 100%;
  margin: 0;
  margin-bottom: 1rem;
  filter: opacity(0.2);
}

.tareaTitulo {
  margin-bottom: 0.5rem;
  font-weight: normal;
  font-size: 20px;
  font-weight: 700;
}
